{
    "constants": {
        "warning": "",
        "critical": ""
    },
    "api": {
        "commands": [
            {
                "name": "messages",
                "command": "<rpc><get-log><filename>messages</filename></get-log></rpc>",
                "rtype": "txt",
                "parse": [
                    {
                        "name": "content",
                        "re": "^(.*?)\\n",
                        "modifier": "ms",
                        "multiple": 1,
                        "entries": [
                            { "id": "line", "offset": "1" }
                        ]
                    }
                ]
            }
        ]
    },
    "selection": [
        {
            "name": "logCount",
            "functions": [
                { "type": "count", "src": "%(api.tables.messagesContent)", "filter": "%(src.line) =~ /SECONDARY_TIMEOUT|PRIMARY_TIMEOUT/ and %(src.line) !~ /CMDLINE_READ_LINE/", "save": "%(logCount)" }
            ],
            "warning": "defined(%(constants.warning)) and %(constants.warning) ne '' and %(logCount) > %(constants.warning)",
            "critical": "defined(%(constants.critical)) and %(constants.critical) ne '' and %(logCount) > %(constants.critical)",
            "perfdatas": [
                { "nlabel": "logs.timeout.count", "value": "%(logCount)", "warning": "%(constants.warning)", "critical": "%(constants.critical)", "min": 0 }
            ],
            "formatting": {
                "printf_msg":"number of timeout logs: %s",
                "printf_var":[
                    "%(logCount)"
                ],
                "display_ok": true
            }
        }
    ],
    "formatting":{
        "custom_message_global": "All selections are OK",
        "separator": "-"
    }
}

