#!/usr/bin/make -f

%:
	dh $@

override_dh_gencontrol:
	dh_gencontrol -- -Tdebian/substvars

override_dh_auto_configure:
	CXXFLAGS="-Wall -Wextra" ./configure \
	--libexecdir="/var/lib64/nagios/plugins" \
	--localstatedir="/var/log/nrpe" \
	--sysconfdir="/var/sys/nrpe" \
	--enable-command-args \
	--with-nrpe-user="centreon-engine" \
	--with-nrpe-group="centreon-engine" \
	--with-nrpe-port="5666" \
	--with-nagios-user="centreon-engine" \
	--with-nagios-group="centreon-engine"

override_dh_auto_build:
	make all

override_dh_install:
	mv -v src/check_nrpe src/check_centreon_nrpe3
	mv -v src/nrpe src/centreon-nrpe3
	mv -v sample-config/nrpe.cfg sample-config/centreon-nrpe3.cfg
	dh_install

override_dh_installsystemd:
    dh_installsystemd --name=centreon-nrpe3
