Source: centreon-plugins
Section: net
Priority: optional
Maintainer: Centreon <contact@centreon.com>
Build-Depends:
  debhelper-compat (= 12),
  libapp-fatpacker-perl,
  libfile-copy-recursive-perl,
  libjson-perl
Standards-Version: 4.5.0
Homepage: https://www.centreon.com

