{
  "collect": {
    "snmp": [
      {
	"name": "disk",
	"oid": "1.3.6.1.2.1.25.2.3.1",
	"query": "Walk",
	"labels": {
	  ".3": "label",
	  ".4": "allocationUnits",
	  ".5": "size",
	  ".6": "used"
	}
      }
    ]
  },
  "compute": {
    "metrics": [
      {
	"prefix": "{disk.label}",
	"name": "disk.usage.percent",
	"value": "100 * {disk.used} / {disk.size}",
	"uom": "%",
	"min": 0,
	"max": 100,
	"output": "{prefix}: {metrics.value}% used"       // optional : displayed if output. Default value: "{metrics.prefix}: {value}{metrics.uom}"
      },
      {
	"prefix": "{disk.label}",
	"name": "disk.usage.bytes",
	"value": "{disk.used} * {disk.allocationUnits}",
	"uom": "B",
	"min": 0,
	"max_expr": "{disk.size} * {disk.allocationUnits}"
      }
    ],
    "aggregations": [
      {
        "name": "avg.disk.usage.percent",
	"value": "Average({metrics.disk.usage.percent})",
	"uom": "%",
	"min": 0,
	"max": 100
      }
    ]
  },
  "output": {
    "ok": "Disk usage OK: {aggregations.avg.disk.usage.percent}% used",	// optional: default value: "Everything is OK"
    "detail_ok": False,                                                 // optional: default value: False, if True, metrics are concatenated to the output
    "warning": "Disk usage WARNING:",                                   // optional: default value: "WARNING:"
    "detail_warning": True,                                             // optional: default value: True
    "critical": "Disk usage CRITICAL:",                                 // optional: default value: "CRITICAL:"
    "detail_critical": True,                                            // optional: default value: True
    "instance_separator": " - ",                                        // optional: default value: " - "
    "metric_separator": ", ",                                           // optional: default value: ", "
  }
}

