name: docker-builder-testing-plugins

concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref || github.run_id }}
  cancel-in-progress: true

on:
  workflow_dispatch:
  push:
    branches:
      - develop
    paths:
      - ".github/workflows/docker-builder-testing-plugins.yml"
      - ".github/docker/testing/*"
  pull_request:
    paths:
      - ".github/workflows/docker-builder-testing-plugins.yml"
      - ".github/docker/testing/*"

jobs:
  get-environment:
    uses: ./.github/workflows/get-environment.yml

  dockerize:
    needs: [get-environment]
    if: |
      needs.get-environment.outputs.skip_workflow == 'false' &&
      needs.get-environment.outputs.stability != 'stable'
    strategy:
      fail-fast: false
      matrix:
        include:
          - runner: ubuntu-24.04
            dockerfile: alma8
            image: alma8
          - runner: ubuntu-24.04
            dockerfile: alma9
            image: alma9
          - runner: ubuntu-24.04
            dockerfile: bullseye
            image: bullseye
          - runner: ubuntu-24.04-arm
            dockerfile: bullseye
            image: bullseye-arm64
          - runner: ubuntu-24.04
            dockerfile: bookworm
            image: bookworm
          - runner: ubuntu-24.04
            dockerfile: jammy
            image: jammy
          - runner: ubuntu-24.04
            dockerfile: noble
            image: noble


    runs-on: ${{ matrix.runner }}

    steps:
      - name: Checkout sources
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

      - name: Login to Registry
        uses: docker/login-action@5e57cd118135c172c3672efd75eb46360885c0ef # v3.6.0
        with:
          registry: ${{ vars.DOCKER_INTERNAL_REGISTRY_URL }}
          username: ${{ secrets.HARBOR_CENTREON_PUSH_USERNAME }}
          password: ${{ secrets.HARBOR_CENTREON_PUSH_TOKEN }}

      - name: Login to proxy registry
        uses: docker/login-action@5e57cd118135c172c3672efd75eb46360885c0ef # v3.6.0
        with:
          registry: ${{ vars.DOCKER_PROXY_REGISTRY_URL }}
          username: ${{ secrets.HARBOR_CENTREON_PUSH_USERNAME }}
          password: ${{ secrets.HARBOR_CENTREON_PUSH_TOKEN }}

      - uses: docker/setup-buildx-action@e468171a9de216ec08956ac3ada2f0791b6bd435 # v3.11.1

      - uses: docker/build-push-action@263435318d21b8e681c14492fe198d362a7d2c83 # v6.18.0
        with:
          file: .github/docker/testing/Dockerfile.testing-plugins-${{ matrix.dockerfile }}
          context: .
          build-args: |
            "REGISTRY_URL=${{ vars.DOCKER_PROXY_REGISTRY_URL }}"
            "NODE_VERSION=24"
            "PNPM_VERSION=10.24.0"
          pull: true
          push: true
          tags: ${{ vars.DOCKER_INTERNAL_REGISTRY_URL }}/testing-plugins-${{ matrix.image }}:latest

  set-skip-label:
    needs: [get-environment, dockerize]
    if: |
      needs.get-environment.outputs.skip_workflow == 'false' &&
      ! cancelled() &&
      ! contains(needs.*.result, 'failure') &&
      ! contains(needs.*.result, 'cancelled')
    uses: ./.github/workflows/set-pull-request-skip-label.yml
