name: docker-builder-testing-plugins

concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref || github.run_id }}
  cancel-in-progress: true

on:
  workflow_dispatch:
  push:
    branches:
      - develop
    paths:
      - ".github/workflows/docker-builder-testing-plugins.yml"
      - ".github/docker/testing/*"
  pull_request:
    paths:
      - ".github/workflows/docker-builder-testing-plugins.yml"
      - ".github/docker/testing/*"

jobs:
  create-and-push-docker:
    strategy:
      matrix:
        include:
          - runner: ubuntu-22.04
            dockerfile: alma8
            image: alma8
          - runner: ubuntu-22.04
            dockerfile: alma9
            image: alma9
          - runner: ubuntu-22.04
            dockerfile: bullseye
            image: bullseye
          - runner: ["self-hosted", "collect-arm64"]
            dockerfile: bullseye
            image: bullseye-arm64
          - runner: ubuntu-22.04
            dockerfile: bookworm
            image: bookworm
          - runner: ubuntu-22.04
            dockerfile: jammy
            image: jammy

    runs-on: ${{ matrix.runner }}

    steps:
      - name: Checkout sources
        uses: actions/checkout@b4ffde65f46336ab88eb53be808477a3936bae11 # v4.1.1

      - name: Login to Registry
        uses: docker/login-action@343f7c4344506bcbf9b4de18042ae17996df046d # v3.0.0
        with:
          registry: ${{ vars.DOCKER_INTERNAL_REGISTRY_URL }}
          username: ${{ secrets.DOCKER_REGISTRY_ID }}
          password: ${{ secrets.DOCKER_REGISTRY_PASSWD }}

      - name: Login to proxy registry
        uses: docker/login-action@343f7c4344506bcbf9b4de18042ae17996df046d # v3.0.0
        with:
          registry: ${{ vars.DOCKER_PROXY_REGISTRY_URL }}
          username: ${{ secrets.DOCKER_REGISTRY_ID }}
          password: ${{ secrets.DOCKER_REGISTRY_PASSWD }}

      - uses: docker/setup-buildx-action@d70bba72b1f3fd22344832f00baa16ece964efeb # v3.3.0

      - uses: docker/build-push-action@2cdde995de11925a030ce8070c3d77a52ffcf1c0 # v5.3.0
        with:
          file: .github/docker/testing/Dockerfile.testing-plugins-${{ matrix.dockerfile }}
          context: .
          build-args: "REGISTRY_URL=${{ vars.DOCKER_PROXY_REGISTRY_URL }}"
          pull: true
          push: true
          tags: ${{ vars.DOCKER_INTERNAL_REGISTRY_URL }}/testing-plugins-${{ matrix.image }}:latest
