name: docker-builder-packaging-plugins

concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref || github.run_id }}
  cancel-in-progress: true

on:
  workflow_dispatch:
  push:
    branches:
      - develop
    paths:
      - ".github/workflows/docker-builder-packaging-plugins.yml"
      - ".github/docker/packaging/*"
  pull_request:
    paths:
      - ".github/workflows/docker-builder-packaging-plugins.yml"
      - ".github/docker/packaging/*"

jobs:
  dependency-scan:
    uses: centreon/security-tools/.github/workflows/dependency-analysis.yml@main

  get-environment:
    needs: [dependency-scan]
    uses: ./.github/workflows/get-environment.yml

  dockerize:
    needs: [get-environment]
    if: |
      needs.get-environment.outputs.skip_workflow == 'false' &&
      needs.get-environment.outputs.stability != 'stable'
    strategy:
      fail-fast: false
      matrix:
        include:
          - runner: ubuntu-24.04
            dockerfile: packaging-plugins-alma8
            image: packaging-plugins-alma8
          - runner: ubuntu-24.04
            dockerfile: packaging-plugins-alma9
            image: packaging-plugins-alma9
          - runner: ubuntu-24.04
            dockerfile: packaging-plugins-alma10
            image: packaging-plugins-alma10
          - runner: ubuntu-24.04
            dockerfile: packaging-plugins-java-alma8
            image: packaging-plugins-java-alma8
          - runner: ubuntu-24.04
            dockerfile: packaging-plugins-java-alma9
            image: packaging-plugins-java-alma9
          - runner: ubuntu-24.04
            dockerfile: packaging-plugins-java-alma10
            image: packaging-plugins-java-alma10
          - runner: ubuntu-24.04
            dockerfile: packaging-plugins-bullseye
            image: packaging-plugins-bullseye
          - runner: ubuntu-24.04-arm
            dockerfile: packaging-plugins-bullseye
            image: packaging-plugins-bullseye-arm64
          - runner: ubuntu-24.04
            dockerfile: packaging-plugins-bookworm
            image: packaging-plugins-bookworm
          - runner: ubuntu-24.04
            dockerfile: packaging-plugins-trixie
            image: packaging-plugins-trixie
          - runner: ubuntu-24.04
            dockerfile: packaging-plugins-java-bullseye
            image: packaging-plugins-java-bullseye
          - runner: ubuntu-24.04
            dockerfile: packaging-plugins-java-bookworm
            image: packaging-plugins-java-bookworm
          - runner: ubuntu-24.04
            dockerfile: packaging-plugins-java-trixie
            image: packaging-plugins-java-trixie
          - runner: ubuntu-24.04
            dockerfile: packaging-plugins-jammy
            image: packaging-plugins-jammy
          - runner: ubuntu-24.04
            dockerfile: packaging-plugins-java-jammy
            image: packaging-plugins-java-jammy
          - runner: ubuntu-24.04
            dockerfile: packaging-plugins-noble
            image: packaging-plugins-noble
          - runner: ubuntu-24.04
            dockerfile: packaging-plugins-java-noble
            image: packaging-plugins-java-noble

    runs-on: ${{ matrix.runner }}

    steps:
      - name: Checkout sources
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0

      - name: Login to Registry
        uses: docker/login-action@c94ce9fb468520275223c153574b00df6fe4bcc9 # v3.7.0
        with:
          registry: ${{ vars.DOCKER_INTERNAL_REGISTRY_URL }}
          username: ${{ secrets.HARBOR_CENTREON_PUSH_USERNAME }}
          password: ${{ secrets.HARBOR_CENTREON_PUSH_TOKEN }}

      - name: Login to proxy registry
        uses: docker/login-action@c94ce9fb468520275223c153574b00df6fe4bcc9 # v3.7.0
        with:
          registry: ${{ vars.DOCKER_PROXY_REGISTRY_URL }}
          username: ${{ secrets.HARBOR_CENTREON_PUSH_USERNAME }}
          password: ${{ secrets.HARBOR_CENTREON_PUSH_TOKEN }}

      - uses: docker/setup-buildx-action@e468171a9de216ec08956ac3ada2f0791b6bd435 # v3.11.1

      - uses: docker/build-push-action@263435318d21b8e681c14492fe198d362a7d2c83 # v6.18.0
        with:
          file: .github/docker/packaging/Dockerfile.${{ matrix.dockerfile }}
          context: .
          build-args: "REGISTRY_URL=${{ vars.DOCKER_PROXY_REGISTRY_URL }}"
          pull: true
          push: true
          tags: ${{ vars.DOCKER_INTERNAL_REGISTRY_URL }}/${{ matrix.image }}:latest

  set-skip-label:
    needs: [get-environment, dockerize]
    if: |
      needs.get-environment.outputs.skip_workflow == 'false' &&
      ! cancelled() &&
      ! contains(needs.*.result, 'failure') &&
      ! contains(needs.*.result, 'cancelled')
    uses: ./.github/workflows/set-pull-request-skip-label.yml
