name: nrpe

concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref || github.run_id }}
  cancel-in-progress: true

on:
  workflow_dispatch:
  pull_request:
    paths:
      - 'nrpe/packaging/**'
      - '.github/workflows/nrpe.yaml'
  push:
    branches:
      - develop
      - master
    paths:
      - 'nrpe/packaging/**'
      - '.github/workflows/nrpe.yaml'

jobs:
  dependency-scan:
    uses: centreon/security-tools/.github/workflows/dependency-analysis.yml@main

  get-environment:
    needs: [dependency-scan]
    uses: ./.github/workflows/get-environment.yml
    with:
      version_file: nrpe/packaging/centreon-nrpe4-daemon.yaml

  package:
    needs: [get-environment]
    if: |
      needs.get-environment.outputs.skip_workflow == 'false' &&
      needs.get-environment.outputs.stability != 'stable'
    runs-on: ubuntu-24.04
    env:
      nrpe_official_version: "4.1.3"

    strategy:
      fail-fast: false
      matrix:
        include:
          - package_extension: rpm
            image: packaging-plugins-alma8
            distrib: el8
          - package_extension: rpm
            image: packaging-plugins-alma9
            distrib: el9
          - package_extension: deb
            image: packaging-plugins-bullseye
            distrib: bullseye
          - package_extension: deb
            image: packaging-plugins-bookworm
            distrib: bookworm
          - package_extension: deb
            image: packaging-plugins-jammy
            distrib: jammy
          - package_extension: deb
            image: packaging-plugins-noble
            distrib: noble

    container:
      image: ${{ vars.DOCKER_INTERNAL_REGISTRY_URL }}/${{ matrix.image }}
      credentials:
        username: ${{ secrets.HARBOR_CENTREON_PULL_USERNAME }}
        password: ${{ secrets.HARBOR_CENTREON_PULL_TOKEN }}

    name: package ${{ matrix.distrib }}

    steps:
      - name: Checkout sources
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0

      - name: Download nrpe sources
        run: |
          # Pinning latest known release assets here instead of using get-environment output version
          # since NRPE versionning is not in line with standard centreon plugins versionning
          curl -sLo - "https://github.com/NagiosEnterprises/nrpe/releases/download/nrpe-${{ env.nrpe_official_version }}/nrpe-${{ env.nrpe_official_version }}.tar.gz" | tar zxpf -
          mv nrpe-${{ env.nrpe_official_version }} nrpe-src
        shell: bash

      - name: Compile sources
        run: |
          cd nrpe-src

          patch -p1 < ../nrpe/packaging/files/nrpe4_add_centreon_cmd.patch

          if [ "${{ matrix.package_extension }}" = "deb" ]; then
            NAGIOS_PLUGINS_PATH="/usr/lib/nagios/plugins"
          else
            NAGIOS_PLUGINS_PATH="/usr/lib64/nagios/plugins"
          fi

          CXXFLAGS="-Wall -Wextra" ./configure \
            --libexecdir="$NAGIOS_PLUGINS_PATH" \
            --localstatedir="/var/log/nrpe" \
            --sysconfdir="/etc/nrpe" \
            --enable-command-args \
            --with-nrpe-user="centreon-engine" \
            --with-nrpe-group="centreon-engine" \
            --with-nrpe-port="5666" \
            --with-nagios-user="centreon-engine" \
            --with-nagios-group="centreon-engine"

          make all
        shell: bash

      - name: Generate debug files
        run: |
          cd nrpe-src/src
          for file in "nrpe" "check_nrpe"; do
            objcopy --only-keep-debug $file $file.debug
            objcopy --strip-debug $file
            objcopy --add-gnu-debuglink $file.debug $file
          done
        shell: bash

      - name: Package
        uses: ./.github/actions/package-nfpm
        with:
          nfpm_file_pattern: "nrpe/packaging/*.yaml"
          distrib: ${{ matrix.distrib }}
          package_extension: ${{ matrix.package_extension }}
          version: ${{ needs.get-environment.outputs.version }}
          release: ${{ needs.get-environment.outputs.release }}
          commit_hash: ${{ github.sha }}
          cache_key: ${{ github.sha }}-${{ github.run_id }}-${{ matrix.package_extension }}-${{ matrix.distrib }}
          rpm_gpg_key: ${{ secrets.RPM_GPG_SIGNING_KEY }}
          rpm_gpg_signing_key_id: ${{ secrets.RPM_GPG_SIGNING_KEY_ID }}
          rpm_gpg_signing_passphrase: ${{ secrets.RPM_GPG_SIGNING_PASSPHRASE }}
          stability: ${{ needs.get-environment.outputs.stability }}

  deliver-packages:
    needs: [get-environment, package]
    if: |
      needs.get-environment.outputs.skip_workflow == 'false' &&
      (contains(fromJson('["testing", "unstable"]'), needs.get-environment.outputs.stability) || ( needs.get-environment.outputs.stability == 'stable' && github.event_name != 'workflow_dispatch')) &&
      ! cancelled() &&
      ! contains(needs.*.result, 'failure') &&
      ! contains(needs.*.result, 'cancelled')
    runs-on: ubuntu-24.04
    strategy:
      fail-fast: false
      matrix:
        include:
          - distrib: el8
            package_extension: rpm
          - distrib: el9
            package_extension: rpm
          - distrib: bullseye
            package_extension: deb
          - distrib: bookworm
            package_extension: deb
          - distrib: jammy
            package_extension: deb
          - distrib: noble
            package_extension: deb


    name: deliver ${{ matrix.distrib }}
    steps:
      - name: Checkout sources
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0

      - name: Delivery
        uses: ./.github/actions/package-delivery
        with:
          module_name: nrpe
          distrib: ${{ matrix.distrib }}
          cache_key: ${{ github.sha }}-${{ github.run_id }}-${{ matrix.package_extension }}-${{ matrix.distrib }}
          stability: ${{ needs.get-environment.outputs.stability }}
          release_type: ${{ needs.get-environment.outputs.release_type }}
          artifactory_token: ${{ secrets.ARTIFACTORY_ACCESS_TOKEN }}

  set-skip-label:
    needs: [get-environment, deliver-packages]
    if: |
      needs.get-environment.outputs.skip_workflow == 'false' &&
      ! cancelled() &&
      ! contains(needs.*.result, 'failure') &&
      ! contains(needs.*.result, 'cancelled')
    uses: ./.github/workflows/set-pull-request-skip-label.yml
