name: plugins
run-name: ${{ (github.event_name == 'schedule' || (github.event_name == 'workflow_dispatch' && github.event.inputs.nightly_manual_trigger == 'true')) && format('plugins nightly {0}', github.ref_name) || '' }}

concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref || github.run_id }}
  cancel-in-progress: true

on:
  workflow_dispatch:
    inputs:
      nightly_manual_trigger:
        description: 'Set to true to trigger a nightly run'
        required: true
        default: false
        type: boolean
  schedule:
    - cron: "30 1 * * 1"
  pull_request:
    paths:
      - '.github/workflows/plugins.yml'
      - '.github/scripts/plugins-source.container.pl'
      - '.github/packaging/centreon-plugin.yaml.template'
      - 'src/**'
      - 'packaging/**'
      - 'tests/**'
  push:
    branches:
      - develop
      - master
    paths:
      - '.github/workflows/plugins.yml'
      - '.github/scripts/plugins-source.container.pl'
      - '.github/packaging/centreon-plugin.yaml.template'
      - 'src/**'
      - 'packaging/**'
      - 'tests/**'

env:
  max_parallel_jobs: 35

jobs:
  dependency-scan:
    uses: centreon/security-tools/.github/workflows/dependency-analysis.yml@main

  get-environment:
    needs: [dependency-scan]
    uses: ./.github/workflows/get-environment.yml
    with:
      nightly_manual_trigger: ${{ inputs.nightly_manual_trigger || false }}

  changes:
    needs: [get-environment]
    runs-on: ubuntu-24.04
    outputs:
      changes_common: ${{ steps.filter.outputs.common || 'true' }}
      changes_packages: ${{ steps.filter.outputs.packages || 'false' }}
      changes_plugins: ${{ steps.filter.outputs.plugins || 'false' }}
      changes_tests: ${{ steps.filter.outputs.tests || 'false' }}
      packages_files: ${{ steps.filter.outputs.packages_files }}
      plugins_files: ${{ steps.filter.outputs.plugins_files }}
      tests_files: ${{ steps.filter.outputs.tests_files }}
    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0

      - uses: dorny/paths-filter@de90cc6fb38fc0963ad72b210f1f284cd68cea36 # v3.0.2
        id: filter
        if: |
          github.event_name == 'pull_request' &&
          contains(fromJson('["testing", "unstable", "canary"]'), needs.get-environment.outputs.stability)
        with:
          base: ${{ github.head_ref || github.ref_name }}
          list-files: shell
          filters: |
            common:
              - added|deleted|modified: src/centreon/**
              - modified: .github/packaging/centreon-plugin.yaml.template
            packages:
              - added|modified: packaging/**
            plugins:
              - added|modified: src/**
            tests:
              - added|modified: tests/**

  get-plugins:
    runs-on: ubuntu-24.04
    needs: [get-environment, changes]
    outputs:
      package_plugins: ${{ steps.get_plugins.outputs.package_plugins || 'true' }}
      test_plugins: ${{ steps.get_plugins.outputs.test_plugins || 'true' }}
      index_matrix: ${{ steps.get_plugins.outputs.index_matrix }}
    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0

      - uses: actions/setup-python@e797f83bcb11b83ae66e0230d6156d7c80228e7c # v6.0.0
        with:
          python-version: '3.13'

      - name: Get new or updated directories
        run: |
          packages_folders=()
          for package_file in ${{ needs.changes.outputs.packages_files }}; do
            echo "Adding $(dirname $package_file) to packages_folders"
            packages_folders+=($(dirname $package_file))
          done
          unique_packages_folders=($(printf "%s\n" "${packages_folders[@]}" | sort -u | tr '\n' ' '))
          jq --compact-output --null-input '$ARGS.positional' --args -- ${unique_packages_folders[@]} > packages_directories.json

          plugins_folders=()
          for plugin_file in ${{ needs.changes.outputs.plugins_files }}; do
              echo "Adding $plugin_file to plugins_folders"
              plugin_folder=$(dirname $plugin_file)
              while [[ $plugin_folder =~ /(components|conf|custom|lib|mode|templates)$ ]]; do
                  plugin_folder=$(dirname $plugin_folder)
              done
              plugins_folders+=($plugin_folder)
          done
          unique_plugins_folders=($(printf "%s\n" "${plugins_folders[@]}" | sort -u | tr '\n' ' '))
          jq --compact-output --null-input '$ARGS.positional' --args -- ${unique_plugins_folders[@]} > plugins_directories.json

          tests_folders=()
          for test_file in ${{ needs.changes.outputs.tests_files }}; do
              echo "Adding $test_file to tests_folders"
              tests_folders+=($(dirname $test_file))
          done
          unique_tests_folders=($(printf "%s\n" "${tests_folders[@]}" | sort -u | tr '\n' ' '))
          jq --compact-output --null-input '$ARGS.positional' --args -- ${unique_tests_folders[@]} > tests_directories.json
        shell: bash

      - name: Get plugins to build and/or test
        id: get_plugins
        if: ${{ needs.changes.outputs.changes_common == 'true' || needs.changes.outputs.changes_packages == 'true' || needs.changes.outputs.changes_plugins == 'true' || needs.changes.outputs.changes_tests == 'true' }}
        run: |
          list_plugins=($(python3 .github/scripts/list-plugins-to-build-and-test.py --common='${{ needs.changes.outputs.changes_common == 'true' }}' --max_runners=${{ env.max_parallel_jobs }}))
          echo "package_plugins=$(echo ${list_plugins[0]})" >> $GITHUB_OUTPUT
          echo "test_plugins=$(echo ${list_plugins[1]})" >> $GITHUB_OUTPUT
          runners_ids=( $(seq 1 ${list_plugins[2]}) )
          echo "index_matrix=$(jq -cn '$ARGS.positional' --args "${runners_ids[@]}")" >> $GITHUB_OUTPUT
          if [ ! -s plugins.json ]; then
            echo "::notice::There are no modifications to the plugins packages"
          fi
        shell: bash

      - uses: actions/cache/save@0057852bfaa89a56745cba8c7296529d2fc39830 # v4.3.0
        with:
          path: ./plugins.json
          key: plugins-${{ github.sha }}-${{ github.run_id }}

      # Add to your PR the label upload-artifacts to get plugin.json as artifact
      - if: ${{ contains(github.event.pull_request.labels.*.name, 'upload-artifacts') }}
        name: Upload plugins.json artifacts
        uses: actions/upload-artifact@ea165f8d65b6e75b540449e92b4886f43607fa02 # v4.6.2
        with:
          name: plugins_json
          path: ./plugins.json
          retention-days: 1

  test-plugins:
    needs: [get-environment, get-plugins]
    strategy:
      fail-fast: false
      matrix:
        image: [testing-plugins-alma8, testing-plugins-alma9, testing-plugins-jammy, testing-plugins-bullseye, testing-plugins-bookworm, testing-plugins-noble, testing-plugins-bullseye-arm64]
        include:
          - package_extension: deb
            image: testing-plugins-noble
            distrib: noble
            arch: amd64
          - package_extension: deb
            image: testing-plugins-bullseye-arm64
            distrib: bullseye
            arch: arm64

    name: "Test plugins on ${{ matrix.distrib }} ${{ matrix.arch }}"

    uses: ./.github/workflows/plugins-robot-tests.yml
    with:
      image: ${{ matrix.image }}
      indexes: ${{ needs.get-plugins.outputs.index_matrix }}
      distrib: ${{ matrix.distrib }}
      arch: ${{ matrix.arch }}
      get-packages: ${{ needs.get-plugins.outputs.package_plugins }}
      package-extension: ${{ matrix.package_extension }}
      packages-cache-key: ${{ github.sha }}-${{ github.run_id }}-${{ matrix.package_extension }}-${{ matrix.distrib }}
      plugins-json-cache-key: plugins-${{ github.sha }}-${{ github.run_id }}
    secrets:
      registry_username: ${{ secrets.HARBOR_CENTREON_PULL_USERNAME }}
      registry_password: ${{ secrets.HARBOR_CENTREON_PULL_TOKEN }}

