on:
  workflow_call:
    inputs:
      version:
        description: The package version
        type: string
        required: true
      release:
        description: The package release
        type: string
        required: true
      stability:
        description: The package stability (stable, testing, unstable)
        type: string
        required: true
    secrets:
      nexus_username:
        required: true
      nexus_password:
        required: true
      update_repo_path:
        description: "The update repo script path"
        required: true
      cloudfront_id:
        description: "The cloudfront ID for repo url"
        required: true
      yum_repo_address:
        description: "The legacy yum repo address"
        required: true
      yum_repo_key:
        description: "The repo key"
        required: true
      artifactory_token:
        description: "The artifactory token"
        required: true
      token_download_centreon_com:
        description: "The token to call download.centreon.com api"
        required: true

jobs:
  deliver-deb:
    runs-on: [self-hosted, common]
    strategy:
      matrix:
        distrib: [bullseye]

    steps:
      - name: Checkout sources
        uses: actions/checkout@v3

      - name: Delivery
        uses: ./.github/actions/deb-delivery
        with:
          distrib: ${{ matrix.distrib }}
          nexus_username: ${{ secrets.nexus_username }}
          nexus_password: ${{ secrets.nexus_password }}
          cache_key: ${{ github.sha }}-${{ github.run_id }}-deb-${{ matrix.distrib }}
          stability: ${{ inputs.stability }}
          artifactory_token: ${{ secrets.artifactory_token }}
