name: dependency-scan

concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref || github.run_id }}

on:
  pull_request:
    paths:
      - '!src/**'
      - '!selinux/**'
      - '!tests/**'
      - '!as400/**'
      - '!packaging/**'
      - '!.github/workflows/plugins.yml'
      - '!.github/workflows/plink.yml'
      - '!.github/workflows/perl-cpan-libraries.yml'
      - '!.github/workflows/spellchecker.yml'
      - '!.github/scripts/plugins-source.container.pl'
      - '!.github/scripts/pod_spell_check.t'
      - '!.github/packaging/centreon-plugin.yaml.template'
      - '!dependencies/perl-openwsman/**'
      - '!dependencies/perl-keepass-reader/**'
      - '!dependencies/perl-filesys-smbclient/**'
      - '!dependencies/centreon-plugins-sudoers/**'
      - '**'
  workflow_dispatch:

jobs:
  dependency-scan:
    uses: centreon/security-tools/.github/workflows/dependency-analysis.yml@main
