name: dependency-scan

concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref || github.run_id }}

on:
  pull_request:
    paths:
      - '**'
      - '!as400/**'
      - '!dependencies/centreon-plugins-sudoers/**'
      - "!.github/docker/packaging/**"
      - "!.github/docker/testing/**"
      - "!.github/docker/unit-tests/**"
      - '!experimental/**'
      - '!nrpe/packaging/**'
      - '!dependencies/perl-filesys-smbclient/**'
      - '!dependencies/perl-keepass-reader/**'
      - '!dependencies/perl-openwsman/**'
      - '!dependencies/plink/**'
      - '!src/**'
      - '!packaging/**'
      - '!tests/**'
      - '!selinux/**'
      - '!connectors/vmware/src/**'
      - '!connectors/vmware/packaging/**'

  workflow_dispatch:

jobs:
  dependency-scan:
    uses: centreon/security-tools/.github/workflows/dependency-analysis.yml@main
