name: secrets-scan

concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref || github.run_id }}

on:
  pull_request:
  workflow_dispatch:

jobs:
  secrets-scan:
    uses: centreon/security-tools/.github/workflows/gitleaks-analysis.yml@main
