name: dependency-scan

concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref || github.run_id }}

on:
  pull_request:
  workflow_dispatch:

jobs:
  dependency-scan:
    uses: centreon/security-tools/.github/workflows/dependency-analysis.yml@main
