name: set-pull-request-external-label

concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref || github.run_id }}
  cancel-in-progress: true

on:
  pull_request:

jobs:
  dependency-scan:
    uses: centreon/security-tools/.github/workflows/dependency-analysis.yml@main

  set-pull-request-external-label:
    needs: [dependency-scan]
    if: |
      github.event.pull_request.head.repo.fork &&
      ! contains(github.event.pull_request.labels.*.name, 'external')
    runs-on: ubuntu-24.04

    steps:
      - name: Set PR external label
        uses: actions/github-script@ed597411d8f924073f98dfc5c65a23a2325f34cd # v8.0.0
        with:
          script: |
            const label = 'external';
            try {
              await github.rest.issues.addLabels({
                owner: context.repo.owner,
                repo: context.repo.repo,
                issue_number: context.issue.number,
                labels: [label]
              });
            } catch (e) {
              core.warning(`failed to add label ${label}: ${e}`);
            }
