name: spell-checker

concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref || github.run_id }}
  cancel-in-progress: true

on:
  workflow_dispatch:
  pull_request:
    paths:
      - '.github/workflows/spellchecker.yml'
      - 'src/**'
      - '.github/scripts/pod_spell_check.t'

jobs:
  dependency-scan:
    uses: centreon/security-tools/.github/workflows/dependency-analysis.yml@main

  pod-spell-check:
    needs: [dependency-scan]
    if: ${{ !contains(github.event.pull_request.labels.*.name, 'do-not-spellcheck') }}
    runs-on: ubuntu-24.04

    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

      - uses: dorny/paths-filter@de90cc6fb38fc0963ad72b210f1f284cd68cea36 # v3.0.2
        id: filter
        with:
          base: ${{ github.ref }}
          list-files: shell
          filters: |
            plugins:
              - added|modified: 'src/**/*.pm'

      - name: Install CPAN Libraries
        uses: shogo82148/actions-setup-perl@fa3bdcb0144a50651e317f30949bb4491e74a6e4 # v1.37.0
        with:
          perl-version: '5.34'
          install-modules-with: cpm
          install-modules: Test::More Test::Spelling List::MoreUtils

      - name: Install librairies
        continue-on-error: true
        run: |
          sudo apt-get update
          sudo apt-get install -y hunspell
        shell: bash

      - name: Run spell check
        id: run_check
        run: |
          set +e
          for f in ${{ steps.filter.outputs.plugins_files }}; do
            echo "perl .github/scripts/pod_spell_check.t $f"
            output=$(perl .github/scripts/pod_spell_check.t $f)
          done
        shell: bash
